extends layout

block content

  h1= title
  a(href='/accounts/new') Create a new Account
  p Existing Accounts
  ul
    each item in data
      li: a(href='/accounts/#{item.getId()}') #{item.get('Name')}
