extends layout

block content
  h1= title
  p This is a simple node.js application for CRUDing salesforce.com Accounts using the nforce package and async.
  ul
    li: a(href='/accounts') Get a list of 10 Accounts
