<!DOCTYPE html>
<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/assets/styles/salesforce-lightning-design-system.min.css' />
  </head>
  <body>
    <div class="slds slds-m-vertical--large slds-m-horizontal--large">
      {{{body}}}
    </div>

    <!-- FOOTER -->
    <footer role="contentinfo" class="slds-p-around--large">
      <!-- LAYOUT GRID -->
      <div class="slds-grid slds-grid--align-spread">
        <p class="slds-col">Salesforce Lightning Design System Web Demo</p>
        <p class="slds-col">&copy; Jeff Douglas</p>
      </div>
      <!-- / LAYOUT GRID -->
    </footer>
    <!-- / FOOTER -->

  </body>
</html>
