extends layout

block content

  // generate a form based upon metadata & display the following field
  - var formFields = ['Name','BillingCity'];
  h1= title
  form(method='post', action='/accounts/create')
    each field in data.fields
      - if (formFields.indexOf(field.name) != -1)
        div
          label #{field.label}:
            input(name='#{field.name}', value='', type='text')
    div
      input(type='submit', value='Save')
